<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>
 
      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.text_field :title, class: "form-control", placeholder: "Titel" %>
  </div>

  <div class="mb-3">
    <%= form.text_area :description, class: "form-control", placeholder: "Beskrivelse" %>
  </div>

  <div class="mb-3" style="display:none">
    <%= form.text_field :imdbID, :readonly => form.object.persisted?, class: "form-control read-only" %>
  </div>
  <div class="mb-3">
    <fieldset >
      <%= form.label :image, 'Upload billede', class: "form-label" %>
      <%= form.file_field :image, class: "form-control"%>
    </fieldset>
  </div>  

  <div class="mb-3">
    <%= form.submit "Gem film", class:"btn btn-primary"%>
  </div>

<% end %>
