<p id="notice"><%= notice %></p>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                  <%= @movie.title %>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Beskrivelse</h5>
                  <div class="card-text">
                    <%= @movie.description %>
                  </div>
                  <div class="card-text">
                    <%if @movie.image_filename%>
                      <%= image_tag "/images/#{@movie.id}/#{@movie.image_filename}" ,style:"width:300px", class: "p-2"%>
                    <%end%>
                    <div class="imdbref">Imdb reference:
                        <%= @movie.imdbID %>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <% if @api_result %>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                  Info fra Imdb
                </div>
                <div class="card-body">
                  <h5 class="card-title">
                    <%=@api_result.title%>
                  </h5>
                  <%if @api_result.poster && @api_result.poster != "N/A" %>
                    <%= image_tag @api_result.poster ,style:"width:300px", class: "p-2"%>
                  <%end%> 
                  <h5 class="card-title">Plot</h5>
                  <div class="card-text">
                    <%=@api_result.plot%>
                    
                  </div>
                  <div class="card-text">
                  <h5 class="card-title mt-3">Skuespiller</h5>

                    <ul>
                      <% if @api_result.actors%> 
                        <% @api_result.actors.split(',').each do |actor| %>
                          <li>
                            <%=actor %>
                          </li>
                        <%end%>
                      <%end%>
                    </ul> 
                  </div>
                </div>
            </div>
        </div>
    <% end %>

    </div>
</div>

<%= link_to 'Tilbage', movies_path, class:"btn btn-secondary m-2" %>
<%= link_to 'Rediger', edit_movie_path(@movie), class:"btn btn-secondary m-2" %> 
